
h1 {
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgb(241, 243, 247), rgb(182, 182, 178));
    margin: auto;
}
h2 {
    color: white;
    
    }
    h4 {
        color: #333;
        font-size: 1rem; 
        padding-top: 1rem;
    }
.texto-portada {
    color: white;
    }
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    }


/* animaciones de enlaces */
a:link, a:visited {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 50%;
    color: #333;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
    }
  a:hover, a:active {
    
    background-color: #003459;
    border-radius: 5% 5%;
    font-size: 150%;
    color: white;
    transition: 1s;
    
    }
/* titulo principal sobre el navbar */
.titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    }



/* navbar */


.menu  {
    display: flex;
    flex-direction: column; 
    border-radius: 15px 15px;
    padding: 1%;
    
    max-width: 100%;
    margin:auto;
    }


/* main del index */
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    height: 90vh; 
    background-image: 
    url(./images/fondo-index.jpg);
    background-repeat:no-repeat;
    background-position: center ;
    background-repeat: none;
    }


/* servicios */
.desayuno {
    padding: 2%;
    margin-left: 20%;
    margin-right: 20%;
    
    }
/* fotos de html servicios */
.foto-serv {
    width: 100%;
    height: 100%;
    margin: auto
}
.contacto {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}
.formulario-contacto {
    margin: 15% 2%;
    padding: 5%;
    background-color: grey;
}
.foto-contacto {
    width: 100%;
    height: 100%;

}
.texto-contacto {
    display: flex;
    justify-content: center;
    margin: 15% 1%;
    
    font-weight: bolder;
    text-decoration: underline;
    
}
button {
    margin: 20px;
    padding: 10px 20px;
    transition: 1s;
   
}
button:hover {
    background-color: green;
    transition: 1s;

}

/* ubicacion  */
.ubicacion-texto {

    font-size: 20px;
    text-align: center;
    list-style:circle 
}

   
.mapouter {
    margin-top: 5%;
    margin-bottom: 5%;
}


/* html de habitaciones  */

.presentacion {
    
    padding: 5%;
    background-image: linear-gradient(rgb(241, 243, 247), rgb(182, 182, 178));
    
    /* margin-left: 10%;
    margin-right: 10%; */
    
    }



    /* imagenes de habitaciones */
.foto-hab{
    width: 100%;
    height: 100%;
    }
/* footer */
.pie {
    display: flex;
    justify-content: space-around;
    
    
    
    
    
}

@media  only screen and (min-width: 600px) {    
    .menu { 
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;}

    .pie 
    {margin: auto;

    }    
    .foto-serv{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
.desayuno {
     display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    }

    .one { 
    border: 2px solid black;
    

}
.two {
    border: 2px solid black;
    

}
.three {
    border: 2px solid black;

}    
.four {
    border: 2px solid black;

}    

  
}
    
