.presentacion {
    
    padding: 5%;
    background-image: linear-gradient(rgb(241, 243, 247), rgb(182, 182, 178));
    }
.foto-hab{
        width: 100%;
        height: 100%;
        }
.titulo {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: x-large;
            display: flex;
            justify-content: center;
            }        
.habs {
    padding-top: 10%;
    padding-bottom: 10%;
}            